@tailwind base;
@tailwind components;
@tailwind utilities;


.payment-module-body{
 
  @apply mt-12;
  
}
.payment-module-content{
  @apply relative;
  @apply grid grid-cols-2;
  @apply gap-y-3;
  
}

.payment-total-label{
  @apply col-span-1;
  justify-self: start;
}

.payment-total-label h1{
  @apply text-3xl;
}

.payment-total{
  @apply text-4xl;
  @apply col-span-1;
  justify-content: end;
  justify-self: end; 
}

.pesons-counter{
  @apply col-span-1;
  justify-self: start;
}

.submit-button{
  bottom: -50px;
  right: -60px;
  @apply absolute;
  @apply col-span-1;
  justify-self: end;
  align-content: center;
  
}


.customize-input-number::-webkit-inner-spin-button,
  .customize-input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }

  .custom-number-input button:focus {
    outline: none !important;
  }

  .customize-input-number{
    
    @apply  
    text-center 
    w-full 
    bg-gray 
    font-semibold      
    flex 
    items-center  ;


  }



.content-counter{
  border: 1px solid #000000;
  @apply 
  flex 
  flex-row 
  h-10 
  w-full 
  rounded-lg 
  relative 
  mt-1;
}


.button-payment{
  max-width: 200px;
  min-width: 150px;
  height: 75px;
  
  
  @apply
  align-middle
  bg-yellow 
  hover:bg-orange 
  text-white 
  font-bold   
  self-center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-right: 35px;
  @apply text-black;
  
}

.divider-payment{
  
  @apply col-span-2;
}
.divider-payment hr{
  @apply border-0 bg-black text-black h-px;
}

